:root{
    --white-color:#fff;
    --black-color:#000;
    --text-color:#333;
    --border-color:#dbdbdb;
    --primary-color:#0a77f3;
}

td, label, input,span,i,p,th {
	font-size:14px;
}

input[type='text'] ,input[type='submit']
 {
 	max-width: 200px;
 }
label {
	min-width: 90px;
}

input {	
	margin:5px 10px;
}