@import "base.css";
@import "member.css";
@import "assignment.css";

*{
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    max-width: 100%;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin:0;
    padding:0;
    height:100%;
}


.app {
    width: 1920px; 
    max-width: 100%;
    background-color: rgba(255,255,255,0.02);
    min-height: 400px; 
}

section {
	display:flex;
	justify-content: center; 
	align-content: center;
	padding:10px;
}

p {
    font-size: 1.4rem;
}

.text-center {
	text-align:center;
}

.content {
	background-color:#fff;
	border-radius:4px;
	border:1px solid #ccc;
	padding: 10px;
	margin: 20px 0px;
	
}
body {
    min-height:100%;
    position:relative;
 }


.navbar {
    margin-top: 4px;
    background-color: #0a77f3 !important;
    box-shadow: 0px 0px 6px #888888;
}

.navbar-nav {
    height: 100%;
    width: 100%;

}

.nav-item {
    height: 100%;
    padding: 0 10px;
}

.nav-link {
    font-size: 1.8rem !important;
    color: rgb(255, 255, 255) !important;
    font-weight: 500 !important;
}

.search-top {
    justify-items: end !important;
}

.text-search {
    height: 40px;
    font-size: 1.6rem !important;
}

.dropdown-item {
    font-size: 1.6rem;
}


.footer-wrap {
    display: flex;
    justify-content: center;
}

.footer-content {
    font-size: 2rem;
    color: #ccc;
}



.slide {
    height: 400px;
}

#carouselExampleIndicators{
    padding-top: 15px;
}
.img-style {
    height: 100%;
}

#carouselExampleIndicators {
    margin: 20px;
    border-radius: 6px;
}

.carousel-inner {
    border-radius: 6px;
    box-shadow: 0px 4px 10px #888888;
}

