.member {
    padding: 20px 20px;
    margin: 0;
    position: relative;
}

.member::after {
    position: absolute;
    content: "";
    width: 70%;
    border-bottom: solid #aaa;
    border-width: 1px;
    transform: translateX(20%);
}

.member h2 {
    font-size: 1.8rem;
    margin: auto;
    display: block;
    padding: 16px;
}

.member-list {
    margin-top:10px;
    display: flex;
    justify-content: center;
}

.card{
    width: 100%;
    position: relative;
    z-index: 1;
    background-color: #13acda !important;
    margin: 10px 0;
}



.card-body {
    width: 100%;
}

.card-img--center {
    display: flex;
   justify-content: center;
}
.card-img-top-w60 {
    width: 60%;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #ddd;
    box-shadow:2px 2px 5px #ccc;
}

.card-title {
    font-size: 2rem;
    text-align: center;
}

.card-text{
    font-size: 1.6rem;
    text-align: center;
}

.card-body {
    display: contents;
}

.card-btn-text {
    font-size: 1.7rem;
    text-align: center;
    margin: auto;
}

.btn-primary {
    background-color: #08917a !important;
}

.card-hover:hover {
    box-sizing: border-box !important;
    transition: all 0.3s ease;
    -webkit-transform: scale(1.07) !important;
    -ms-transform: scale(1.07) !important;
    transform: scale(1.07) !important;
    z-index: 2;

}